<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <a>
            <img src="../../../assets/images/Phoenix.png" width="80" (click)="redirect()">
        </a>
            
        <div class="navbar-nav">
            <!-- <a class="btn btn-warning" routerLink="cinema/{{cinema._id}}/films" disabled="true">Cinéma sélectionné : {{cinema.nom}}</a> -->
            <!-- <a class="btn btn-danger" routerLink="/admin">Administration</a> -->
        </div>
    </div>
</nav>